<!DOCTYPE html>

{% extends "app/base.html" %}
{% load staticfiles %}
{% block body_block %}

<div class="jumbotron">
    {% if registered %}
        <h1>Thank you for registering</h1>
    {% else %}
        <h1>Register here</h1>
        <h3>Fill out the form:</h3>
        <form method="POST" enctype="multipart/form-data">
            <!-- Make sure enctype attribute is present.
            Otherwise image uploading won't work  -->
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="" value="Register">
        </form>
    {% endif %}

</div>

{% endblock %}