<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Django - AppTwo</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}"/>
  </head>
  <body>
    <h1>Here are your users:</h1>
    <div class="djangtwo">
      {% if users %}
      <table>
        <thead>
          <th>ID</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
        </thead>
        {% for user in users %}
       <tr>
         <td>{{ user.uid }}</td>
         <td>{{ user.first_name }}</td>
         <td>{{ user.last_name }}</td>
         <td>{{ user.email }}</td>
       </tr>
       {% endfor %}
      </table>
      {% endif %}
    </div>
  </body>
</html>
